.corpo{
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(#1A1761, rgb(43, 39, 155) , rgb(79, 74, 221));
    background-size: cover;
    background-repeat: no-repeat;
}

.main_calc .main_titulo > h1{
    text-align: center;
}

.main_calc{
    max-width: 800px;
    margin: 0px auto;
    background-color: antiquewhite;
    border-radius: 10px;
}

.main_section{
    width: 50%;
   
}

form{
    margin: 10px 10px;
}

.main_section > input{
    padding: 5px;
    border-radius: 10px;
    margin: 10px 0px;
}


.btn{
    margin: 10px 0px;
    padding: 10px;
    border-radius: 10px;
    background-color: orangered;
    color: aliceblue;
    border: none;
    cursor: pointer;
}

.btn:hover{
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(148, 41, 2);
    color: aliceblue;
    border: none;
    cursor: pointer;
}

/*tabela*/

.main_tit2{
    font-size: 0.8em;
    text-align: center;
    margin: 20px 10px;
    color: white;
}

table, td, th{
    border: solid 1px #000;
    border-collapse: collapse;
    margin: 20px auto;
}

thead, th{
    background-color: rgba(0, 156, 156, 0.493);
}

th, td{
    text-align: center;
    padding: 8px;
    font-family: Arial, Helvetica, sans-serif;

}

td{
    background-color: rgba(255, 255, 255, 0.842);
}

#peso_adequado{
    background-color: rgba(0, 255, 255, 0.253);
    font-weight: bold;    
}


